.homepage-image {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    height: 153px;
    width: 198px;
    border: 1px solid;
    border-radius: 10px;
}

.nav {
    line-height: 50px;
    display: inline-block;
}

.homepage-welcome {
    margin-bottom: 50px;
}